.content-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.children-container-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
}

.children-container {
  margin: auto;
}
