.farm {
  display: inline-grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  padding: 8px;
  background-size: 100%;

  /* sorry for magic numbers here - these are responsible to make sure farm size is no greater than 
  space between navigation bar and shop so that farm is not covered by shop (which has absolute position)
  */
  width: calc(100vh - 250px - 80px);
}

.farm-tile {
  background-size: 100%;
}
