.farm {
  display: inline-grid;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(8, auto);
}

.farm-tile {
  width: 72px;
  height: 72px;
  background-color: #55331c;
  border: 1px solid #6e503c;
}

.farm-tile-watered {
  width: 72px;
  height: 72px;
  background-color: #452713;
  border: 1px solid #6e503c;
}
